@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #1a73e8;
    --main-background: radial-gradient(219.45% 100% at 50% 0%, #010206 0%, #010206 68.5%, #1D026E 75%, #8400FF 84.02%, #C19DFE 90.88%, #D3D0FD 94.38%, #DDEBFD 100%);
    --color-01: #E7E4DE;
    --color-description: #9DA1AC;
    --button: #6D2FFF;
  }
  

@layer components {

    body {
        background-color: #E1EEFE; 
    }

    .button-color {
        background-color: var(--button);
    }

    .main {
        background-color: #E1EEFE; 
        overflow: hidden;
    }

    .main-background {
        background: var(--main-background);
        color: var(--color-01);
        position: relative;
    }

    .color-descripcion {
        color: var(--color-description);
    }

    .slider-container {
        position: relative;
        /* overflow: hidden; */
        display: flex;
        white-space: nowrap;
        gap: 32px;
        width: max-content;
    }
      
      .slider {
        width: 100%;
        display: flex;
        align-items: center;
        white-space: nowrap;
        gap: 32px;
    }

      .slider-container .slider:nth-of-type(2) {
        position: absolute;
        left: 100%;
        margin-left: 32px;
    }
      
      .slider-img-control {
        width: auto; 
        object-fit: contain;
        border-radius: 8px;
    }

    .title {
        font-family: "Silka";
        font-weight: 500;
    }
    .button {
        font-family: "Silka";
        font-weight: 600;
    }
    .paragraph {
        font-family: "Silka";
        font-weight: 400;
    }
    

    .main-inner {
        margin: 0 auto;
        max-width: 1320px;
    }

    .title-bigger {
        @apply title text-[40px] md:text-[80px] tracking-tighter leading-[100%]
    }

    .title-big {
        @apply title text-[32px] md:text-[72px] tracking-tighter leading-[100%]
    }

    .title-regular {
        @apply title text-[24px] md:text-[56px] tracking-tighter leading-[100%]
    }

    .title-small {
        @apply title text-[16px] md:text-[32px] tracking-tighter leading-[100%]
    }

    .title-uppercase {
        @apply title text-[10px] md:text-[12px] tracking-widest leading-[100%] uppercase
    }

    .btn {
        @apply inline-block justify-center content-center button text-sm md:text-base h-12 md:h-14 button-color px-6 md:px-8 rounded-2xl
    }

    .descriptions {
        @apply paragraph text-sm md:text-base leading-[170%]
    }

    .main-inner-section {
        @apply main-inner px-6 md:px-8 2xl:px-0
    }

    .slider-img {
        @apply slider-img-control h-[400px] lg:h-[600px]
    }
  }

  
 