@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--max-width: 1550px;
	/* --max-width: 1350px; */
}

@layer base {
	.max-width-custom {
		max-width: var(--max-width);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	th {
		font-family: "Deligh", sans-serif;
	}

	.title {
		font-family: "Deligh", sans-serif;
	}

	.title-bigger-responsive {
		font-size: 5vw;
	}

	.btn {
		font-family: "Plus Jakarta Sans", sans-serif;
		font-weight: 600;
	}

	a,
	p,
	span,
	a,
	li,
	button,
	td,
	address {
		font-family: "Plus Jakarta Sans", sans-serif;
	}

	body {
		background-color: #f7f7f7;
	}

	.main-background {
		background: var(--main-background);
		color: var(--color-01);
		position: relative;
	}

	.bg-logos {
		background: linear-gradient(180deg, #121821 0%, #0037ff 100%);
	}

	.main-inner {
		margin: 0 auto;
		max-width: 1320px;
	}

	@media (max-width: 900px) {
		.grid-1x1 {
			grid-template-columns: repeat(4, minmax(0, 1fr));
		}
	}
	@media (max-width: 520px) {
		.grid-1x1 {
			grid-template-columns: 1fr;
		}
	}

	.hero-height {
		height: 95vh;
	}

	.hero-height-mini {
		height: 60vh;
	}
}

@layer components {

	.bg-orange-500-brand {
		@apply bg-orange-600;
	}
	.text-orange-500-brand {
		@apply text-orange-600;
	}

	.bg-orange-400-brand {
		@apply bg-orange-500;
	}
	.text-orange-400-brand {
		@apply text-orange-500;
	}

	.subtitle-dark {
		@apply text-neutral-400;
	}

	.title-dark {
		@apply text-white;
	}
	
	.description-dark {
		@apply text-neutral-300;
	}

	.subtitle-light {
		@apply text-neutral-500;
	}

	.title-light {
		@apply text-neutral-900;
	}

	.description-light {
		@apply text-neutral-500;
	}

	.subtitle-uppercase {
		@apply title text-[12px] md:text-[14px] leading-[100%] uppercase tracking-widest;
	}

	.title-bigger {
		@apply title text-[48px] md:text-[80px] leading-[100%];
	}

	.title-big {
		@apply title text-[28px] md:text-[60px] leading-[110%];
	}

	.title-regular {
		@apply title  text-[24px] md:text-[29px] leading-[100%];
	}

	.title-small {
		@apply title text-[18px] md:text-[21px] leading-[100%];
	}

	.title-smaller {
		@apply title text-[14px] md:text-[16px] leading-[100%];
	}

	.descriptions-base {
		@apply font-normal leading-[150%] text-[14px] md:text-[16px];
	}
	.descriptions-small {
		@apply font-normal leading-[150%] text-[12px] md:text-[14px];
	}

	.btn-base {
		@apply relative text-center md:flex-[4] lg:flex-[5] py-3 rounded-lg btn transition-colors duration-200;
	}

	.btn-brand {
		@apply bg-orange-500-brand text-white btn-base;
	}

	.btn-brand:hover {
		@apply bg-orange-400-brand text-white btn-base;
	}

	.btn-ghost-dark {
		@apply btn-base
           bg-white/10 text-white
           ring-1 ring-white/10
           transition-colors duration-200;
	}
	.btn-ghost-dark:hover {
		@apply btn-base bg-white/20 ring-white/20;
	}
	.btn-ghost-dark:disabled {
		@apply btn-base opacity-50 pointer-events-none;
	}

	.btn-ghost-light {
		@apply btn-base
           bg-black/10 text-neutral-900
           ring-1 ring-black/10
           transition-colors duration-200;
	}
	.btn-ghost-light:hover {
		@apply btn-base bg-black/20 ring-black/20;
	}
	.btn-ghost-light:disabled {
		@apply btn-base opacity-50 pointer-events-none;
	}

	.bg-gradient-dark {
		background: linear-gradient(180deg, #0A0A0A 0%, #262626 100%);
	}
	.bg-gradient-dark-back {
		background: linear-gradient(180deg, #262626 0%, #0A0A0A 100%);
	}

	.main-inner-section {
		@apply main-inner px-6 md:px-8 2xl:px-0;
	}

	.slider-img {
		@apply slider-img-control h-[400px] lg:h-[600px];
	}

	.test {
		@apply inline-block justify-center content-center text-sm md:text-base;
	}

	.section-max-width {
		@apply px-8 pt-8 md:px-12 md:py-12 max-width-custom mx-auto relative;
	}

	/* NAVBAR */
	.nav-link {
		@apply font-semibold hover:text-orange-500 description-dark text-[12px] md:text-[14px];
	}
}
